@charset "utf-8";
header {
  background: #fff;
}
header .nav_out li a {
  color: #515151!important;
}
.main-about {
  position: relative;
  min-height: 800px;
  box-sizing: border-box;
}
.main-about .about-banners__item {
  position: relative;
  background-color: #fefefe;
  width: 100%;
}
.main-about .about-banners__item img {
  width: 100%;
  display: block;
  max-height: 637px;
}
.main-about .address-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-about .address-container .address-box {
  width: 95%;
  margin: 0 auto;
}
.main-about .address-container .address-box .address {
  color: #fff;
}
.main-about .address-container .address-box .address .is-last {
  margin-bottom: 24px;
}
.main-about .address-container .address-box .address-title {
  font-size: 24px;
  margin-bottom: 33px;
}
.main-about .address-container .address-box .address-detail {
  font-size: 14px;
}
.main-about .address-container .address-box .address-info {
  font-size: 12px;
}
.main-about .address-container .address-box {
  width: 936px;
}
.main-about .about-container {
  width: 936px;
  margin: 0 auto;
}
.main-about .about-container .about-tabs {
  margin-top: 33px;
  margin-bottom: 99px;
  margin-left: 100px;
}
.main-about .about-container .about-tabs .about-tabs__item {
  float: left;
  width: 16%;
  border-bottom: 2px solid transparent;
  color: #bebebe;
}
.main-about .about-container .about-tabs .about-tabs__item:hover {
  transition: .2s linear;
  cursor: pointer;
  color: #35b8f9;
  border-bottom-color: #35b8f9;
}
.main-about .about-container .about-tabs .about-tabs__item:not(:last-of-type) {
  margin-right: 5%;
}
.main-about .about-container .about-tabs .about-tabs__item .about-tabs__link {
  display: block;
  height: 38px;
  padding: 4px 18px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: inherit;
}
.main-about .about-container .about-panels {
  color: #6f6d6b;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  margin: 0 18px;
}
.main-about .about-container .about-panels .know {
  padding-bottom: 144px;
}
.main-about .about-container .about-panels .know .info-list {
  color: #6f6d6b;
  line-height: 25px;
}
.main-about .about-container .about-panels .history .event-list__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 72px;
}
.main-about .about-container .about-panels .history .event-list__item .item-title {
  width: 23%;
  margin-top: -6px;
  font-size: 24px;
  color: #272727;
}
.main-about .about-container .about-panels .history .event-list__item .item-details {
  flex: 1;
}
.main-about .about-container .about-panels .history .event-list__item .item-details .detail {
  position: relative;
  margin-bottom: 72px;
}
.main-about .about-container .about-panels .history .event-list__item .item-details .detail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #44bdf9;
}
.main-about .about-container .about-panels .product-list__item {
  margin-bottom: 180px;
}
.main-about .about-container .about-panels .product-list__item .item-title {
  font-size: 30px;
  font-weight: 400;
  color: #272727;
  margin-bottom: 30px;
}
.main-about .about-container .about-panels .product-list__item .phone-picture img {
  height: 140px;
}
.main-about .about-container .about-panels .product-list__item .phone-list__item {
  width: 20%;
  float: left;
  padding-bottom: 29px;
  text-align: center;
}
.main-about .about-container .about-panels .product-list__item .phone-list__item .phone-title {
  margin-top: 12px;
  color: #8e8b8c;
}
.main-about .about-container .about-panels .contact-title {
  font-size: 24px;
  font-weight: 400;
}
.main-about .about-container .about-panels .contact-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}
.main-about .about-container .about-panels .contact-item__left {
  width: 64%;
}
.main-about .about-container .about-panels .contact-item__right {
  width: 36%;
}
.main-about .about-container .about-panels .contact-sub-title {
  font-weight: 500;
  margin-top: 30px;
}
.main-about .about-container .about-panels .contact-item__detail {
  line-height: 2;
}
.main-about .about-container .about-panels .contact-item__detail a {
  color: inherit;
}
.main-about .about-container .about-panels .contact-item__button {
  display: inline-block;
  padding: 2px 10px;
  margin-top: 4px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #32b7f9;
  border-radius: 14px;
}
.main-about .about-container .about-panels__item {
  display: none;
  animation: opacity-about 0.3s forwards;
}
@keyframes opacity-about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-about p {
  max-height: 100%;
}
.main-about .about *,
.main-about .about ::before,
.main-about .about ::after {
  box-sizing: border-box;
}
.main-about .about-show {
  display: block!important;
}
.main-about .about-active {
  color: #35b8f9!important;
  border-bottom-color: #35b8f9!important;
}
