@charset "utf-8";
header {
  transition: .8s;
}
.header-show {
  height: 82px;
}
.header-hide {
  height: 0;
}
.detail-main {
  position: relative;
  padding-top: 66px;
  line-height: 1.5;
}
.detail-main .detail-main-first-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #f6f8fb;
}
.detail-main .detail-main-first-nav .detail-main-first-nav-list {
  float: right;
  margin-top: 26px;
  margin-right: -15px;
}
.detail-main .detail-main-first-nav .detail-main-first-nav-list .list-iteam {
  float: left;
  position: relative;
  z-index: 1;
  border-right: 1px solid #dedede;
}
.detail-main .detail-main-first-nav .detail-main-first-nav-list .list-iteam a {
  display: block;
  padding: 0 20px;
  line-height: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
.detail-main .detail-main-first-nav .nav-name {
  position: absolute;
  left: 0;
  top: 15px;
  font-size: 26px;
}
